div{border: 1px solid brown;
}

.container{
    display:flex;
    justify-content: space-around;
}

.thumbnail{margin:5px;
}

.thumbnail--img{
    margin: 2px 10px;
    width:150px;
    border:3px solid blue;
    border-radius: 8px;
}

.thumbnail--text{font-family: Roboto, Arial, Helvetica, sans-serif;
    margin:2px 10px;
    width:154px;
    text-align: center;
}


